.Home{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home .section-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home .section-content{
    padding: 5vh 10px;
    display: flex;
    flex-direction: column;
}
.Home .section-content .Button{ margin-right: auto; }

@media only screen and (max-width: 600px) {
    .Home .section-header{ width: 100%; }
    .Home .section-content{ width: 100%; }
}
@media only screen and (min-width: 600px) {
    .Home .section-header{ width: 40%; }
    .Home .section-content{ width: 60%; }
}