.Navbar,
.Navbar a{
    display: flex;
    flex-direction: row;
}

.Navbar{
    z-index: 1000;
    width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    padding-top: 5vh;

    position: fixed;
    top: 0;

    align-items: flex-start;

    background: none;

    transition: background-color 0.2s;
}

.Navbar .language-box{
    float: right;
    margin: 0 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.Navbar .language-box button{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
.Navbar .language-box button img{
    width: 20px;
    height: 12px;
    margin-right: 2px;
}
.Navbar .language-box button:hover{
    color: gray;
}
.Navbar .language-box .none{
    display: none;
    opacity: 0;
}
.Navbar .language-box .visible{
    display: block;
    opacity: 1;
}

.Navbar button{
    outline: none;
    border: none;
    background: inherit;
    cursor: pointer;
    transition: opacity .2s, color .4s;
}


.Navbar a{
    height: 100%;
    margin-left: 50px;

    justify-content: center;
    align-items: center;

    text-align: center;

    transition: color 0.4s;
}

.Navbar a:hover{
    text-decoration: underline;
}
.Navbar a.active{
    font-weight: bold;
}

.SidebarButton{
    user-select: none;
    z-index: 1500;
    position: fixed;
    left: 10px;
    top: 10px;

    cursor: pointer;
    outline: none;
    border: none;
    background: none;

    font-size: 40px;

    transition: font-size .2s, color .5s;
}
.SidebarButton:hover{
    font-size: 45px;
}
.SidebarButton.red{
    color: red;
}
.SidebarButton:not(.red){
    color: black;
}
.Sidebar{
    z-index: 1000;
    height: 100vh;
    width: 250px;
    padding-top: 75px;
    position: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    box-shadow: 10px 0px 10px -10px rgba(0,0,0,0.75);

    transition: left 1s;
}
.Sidebar.closed{
    left: -270px;
}
.Sidebar.open{
    left: 0;
}

.Sidebar a{
    margin-bottom: 20px;
    font-size: 1.5em;
    color: black;
    transition: color .2s;
}
.Sidebar a:hover{
    color: gray;
}
.Sidebar a.active{
    font-weight: bold;
}

.Sidebar .language-box{
    bottom: 0;
    margin: auto 0 10vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Sidebar .language-box button{
    margin: 5px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    outline: none;
    border: none;
    background: none;

    font-size: 1.5em;

    transition: color .2s;
}
.Sidebar .language-box button:hover,
.Sidebar .language-box button:active {
    color: gray;
    text-decoration: underline;
}
.Sidebar .language-box button img{
    width: 30px;
    height: 20px;
    margin-right: 2px;
}

/* 600px and down */
@media only screen and (max-width: 600px) {
    .Navbar{ background-color: white; }
    .Navbar a,
    .Navbar button{ 
        color: black;
        font-size: 1.2em;
    }
}

/* 600px and up */
@media only screen and (min-width: 600px) {
    .Navbar a,
    .Navbar button{ font-size: 1.5em; }
    .Navbar button.visible{ font-size: 1.1em; }

    .Navbar.black{ background-color: white; }
    .Navbar.black a,
    .Navbar.black button{ color: black; }

    .Navbar.white{ background: none; }
    .Navbar.white a,
    .Navbar.white button{ color: white; }
}

