.Modal{
    z-index: 500;
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.8);
}

.Modal .layout{
    position: relative; 

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 4px;
    background-color: #262626;
    /* -webkit-box-shadow: 0px 0px 15px 0px rgba(38,38,38,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(38,38,38,1);
    box-shadow: 0px 0px 15px 0px rgba(38,38,38,1); */
}

.Modal .layout .close,
.Modal .layout .left,
.Modal .layout .right {
    z-index: 1000;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;

    color: darkgray;

    font-size: 36px;
    font-weight: lighter;

    opacity: 0;
    transition: opacity .8s, color .5s;
}

.Modal .layout .close:hover,
.Modal .layout .left:hover,
.Modal .layout .right:hover {
    color: lightgray;
}

.Modal .layout .close{
    top: 15px;
    right: 15px;
}

.Modal .layout .left{
    height: 80px;
    left: 15px;
}
.Modal .layout .right{
    height: 80px;
    right: 15px;
}

.Modal .Slice{
    /* min-width: 80vh;
    min-height: 80vw; */
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.Modal .layout div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Modal .layout{
        height: 50vh;
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Modal .layout{
        height: 400px;
        width: 550px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Modal .layout{
        height: 450px;
        width: 600px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Modal .layout{
        height: 500px;
        width: 800px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Modal .layout{
        height: 500px;
        width: 900px;
    }
}