.About{ justify-content: center; }
/* .About .section{ width: 100%; } */

.About .section .content{
    padding: 5vh 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.About .section .content:last-child{ margin-bottom: 10vh; }

.About .section .icon-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.About .section .content:last-child{ margin-bottom: 10vh; }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .About .section{
        width: 100%;
        padding: 35px 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .About .section{
        width: 600px;
        padding: 45px 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .About .section{
        width: 700px;
        padding: 10vh 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .About .section{
        width: 850px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .About .section{
        width: 80vw;
    }
}