.SlickCarouselSlider{
    cursor: pointer;
}

.SlickCarouselSlider .slick-arrow{
    height: 80px;
    width: 40px;

    background-color: whitesmoke;

    transition: background-color .5s;
}

.SlickCarouselSlider .slick-arrow:hover{
    background-color: #666666;
}

.SlickCarouselSlider .slick-prev{
    left: -50px;
}

.SlickCarouselSlider .slick-next{
    right: -50px;
}