.Button{
    cursor: pointer;
    outline: none;

    border: solid 2px darkgray;
    border-radius: 3px;
    background: none;
    color: #4d4d4d;

    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;

    transition: color .5s, background-color .5s;
}

.Button:hover{
    background-color: whitesmoke;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Button{
        padding: 10px 8px;
        font-size: 18px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Button{
        padding: 10px 13px;
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Button{
        padding: 10px 20px;
        font-size: 22px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Button{
        padding: 20px 30px;
        font-size: 24px;
    }
}